/* REVIEW SUMMARY INFO */
.summary-info-container {
    display: flex;
    min-width: min-content;
    flex: 0;
    gap: 6px;
    white-space: nowrap;
}

/* REVIEWS SECTION */



.sd-reviews-section-container {
    border-top: 1px solid lightgray;
    margin: 20px 130px;
}

@media screen and (width < 1260px) {

    .sd-reviews-section-container {
        border-top: 1px solid lightgray;
        margin: 20px 30px;
    }
}

@media screen and (width < 1070px) {

    .sd-reviews-section-container {
        border-top: 1px solid lightgray;
        margin: 20px 10px;
    }
    .sd-individual-review {
        /* border-bottom: 1px solid lightgray; */
        width: 40%;
        margin-right: 60px!important;
    }
}

.sd-reviews-header {
    font-size: 1.2em;
    font-weight: bold !important;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
    /* border-bottom: 1px solid lightgray; */

}

.sd-review-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.sd-individual-review {
    /* border-bottom: 1px solid lightgray; */
    width: 40%;
    margin: 10px 0;
    padding: 0 5px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-right: 100px;
}
.review-user-logo-name-container{
    display: flex;
    flex-direction: row;
    gap:6px;
    align-items: flex-end;
}
.review-user-logo-icon {
    position: relative;
    bottom:3px;
}

.sd-individual-review p {
    font-weight: 200;
    margin: 0;
}
.post-your-review-button{
    white-space: nowrap;
    width:fit-content;
}
.post-your-review-button:hover{
   cursor: pointer;
   position: relative;
   z-index: 2;
}

/* REVIEW LIST */

.sd-individual-review .review-date {
    font-size: 0.85em;
    font-weight: 600;
}

.review-stars-and-date-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.review-star-rating-stars{
    display: inherit;

}


/* EMPTY REVIES LIST MESSAGE  */
.review-section-empty-reviews-message {
    font-weight: 300;
    font-size: 0.9em;
    text-align: center;
    margin: 0;
    position: relative;
    top: -10px;
    padding-bottom: 20px;
}


/* REVIEWS MODAL */

.sd-reviews-modal-container {
    padding: 30px 60px;
    max-width: 60vw;
    max-height: 90vh;
    overflow: scroll;
}

.sd-reviews-modal-container h2 {
    border-bottom: 1px solid lightgray;
}

.sd-review-modal-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.sd-individual-review-modal {
    /* border-bottom: 1px solid lightgray; */
    width: 100%;
    margin: 10px 0;
    padding: 0 5px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* margin-right: 100px; */
}

.sd-individual-review-modal .review-date {
    font-size: 0.85em;
    font-weight: 600;
}

.sd-individual-review-modal .review-user-logo-name-container{
    display: flex;
    flex-direction: row;
    gap:6px;
    align-items: center;
}
.sd-individual-review-modal .review-user-logo-icon {
    position: relative;
    bottom:3px;
}

.sd-individual-review-modal .review-stars-and-date-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.sd-individual-review-modal .review-star-rating-stars{
    display: inherit;

}

.sd-individual-review-modal p {
    font-weight: 200;
    margin: 0;
}
