
.spot-details-container {
    margin: 20px 130px;
    height: 100%;
    font-size: small;
    /* max-width: 1000px; */
}

.sd-spot-name {
    font-size: 1.7em;
    margin: 8px 6px;
    padding: 0;
    font-weight: 500;
}

.sd-image-container {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 20px;
    max-height: 443px;
}

.sd-preview-img-container {
    flex: 1;
    max-width: 50%;
    max-height: 443px;
}

.sd-preview-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sd-small-images-container {
    flex: 1;
    max-width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50%);
    gap: 8px !important;
}

.sd-spot-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* BELOW IMAGES */

/* left info right callout */
.sd-info-callout-section-container {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 50px;
}

.sd-info-container {
    width: 58%;

}

.sd-info-container,p {
    font-weight: 700;
    font-size: medium;
}

/* callout */
.sd-callout-box-container{
    box-sizing: border-box;
    display: block;
    width: 32%;
    padding: 25px;
    border:1px solid rgb(221, 221, 221);
    box-shadow:0 6px 20px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    min-width:min-content;
    /* background-color: aqua; */
    max-height: max-content;
}

.callout-price-reviewinfo-container {
    display: flex;
    flex-direction: row;
    min-width: min-content;
    white-space: nowrap;
    gap: 20px;
}

.callout-price-container {
    width: 50%;
    min-width: min-content;
}
.sd-callout-price {
    margin-top: 0px !important;
    font-size: large;
    margin-bottom:0 ;
    line-height: 1.5;
    font-size: 1.325rem;
    font-weight: 500;
}
.callout-text-total-before-taxes{
    position: relative;
    top: -14px;
    font-weight: 200;
    font-size: 0.855rem;
}

.sd-callout-review-summary-info {
    margin: 0;
    padding: 0;
    /* position: relative;
    top: 8px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 3px;
    font-size: 1em;
    width: 50%;
}

.sd-callout-num-reviews {
    font-weight: 100;
}

.sd-callout-check-in-out-container {
    border-radius: 8px;
    border:1px solid rgb(176,176,176);
    overflow: hidden;
    min-width: min-content;
}

.sd-callout-check-in-out-container p {
    font-size: 0.625rem;
    line-height: 0.5rem;
    font-weight: 200;
    flex: 1;
    white-space: nowrap;
    padding: 0px;
    text-align: left;
    padding-left: 10px;
}

.sd-callout-check-in-out-container button {
    width: 50%;
    border: none;
    outline: none;
    margin: 0px;
    background-color: transparent;
}

.minus-plus-guests-buttons-container button {
    border:1px solid rgb(176,176,176);
}


.sd-callout-check-in {
    border-bottom:1px solid rgb(176,176,176) !important;

}
.sd-callout-check-out {
    border-bottom:1px solid rgb(176,176,176)!important;
    border-left:1px solid rgb(176,176,176) !important;
}

.sd-callout-dates {
    font-size: small !important;
    font-weight: 100;
    min-width:min-content;
}

.sd-callout-number-guests {
    display: flex;
    flex-direction: row;
    border-radius: 100px;
    align-items: center;
    border: none;
    padding: 10px;
    gap: 10px;
    text-align: left;
    padding-left: 15px;
}


.minus-plus-guests-buttons-container {
    display: flex;
    gap:10px;
    padding: 5px;;
    align-items: center;
    justify-content: center;
}
.sd-callout-number-guests p {
   padding:0 !important;
   flex: 0;
   font-weight: 500;
}

.sd-callout-number-guests button {
    padding: 0;
    margin: 0;
    width: 2em;
    min-width: 2em;
    height: 2em;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.sd-callout-reserve-button {
    margin-top: 20px;
    width: 100%;
    padding:15px;
    background-color: rgb(218,14,99);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;

}

.sd-callout-reserve-button:hover {
  cursor: pointer;
  background-color: rgb(238, 34, 119);
}

.callout-text {
    text-align: center;
    margin-bottom: 5px !important;
    font-weight: 200;
    font-size: 0.855rem;
}
