.confirm-delete-container{
    margin: 0;
    display: block;
    max-width: 30vw;
    width: min-content;
    /* min-width: 400px !important; */
    max-height: min-content;
    min-width: 265px;
}

.confirm-delete-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
    /* height: 30vh; */
    min-width: 335px;
    max-width: 20vh;
    min-height: 30vh !important;
    max-height: 30vh !important;
    gap: 3px;
    position: relative;
    top: 10px;
}
.confirm-delete-x {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    z-index: 1;
}

.confirm-delete-heading{
    margin: 0;
    width: 80%;
    text-align: center;
    font-size: 1.1em;
    font-weight: 500;

    margin-bottom: 5px;
}
.confirm-delete-subheading{
    margin: 0;
    margin-bottom: 20px;
    font-size: 1.1em;
    font-weight: 100;
    white-space: wrap;
    width: 80%;
    text-align: center;
}


.delete-modal-buttons-container {
    padding: 20px 15px;
    border-top: 1px solid lightgray;
    width: 100%;
    flex: 0;
    /* height: 40%; */
    min-width: 265px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 60px; */
}
.confirm-delete-container button{
    width: 30%;
    color: white;
    border-radius: 8px;
    padding: 15px 0;
    border: 0;
    font-size: 1em;
}

.confirm-delete-container button:hover,
.confirm-delete-x {
    cursor: pointer;
    /* box-shadow: 0px 1px 2px 1px lightgray; */
}

.confirm-delete-yes-button {
    /* background-color: #DF1561; */
    background-color: black;
    color: white;
}
.confirm-delete-cancel-button {
    background-color: transparent;
    color: black !important;
    border: 1px solid black;
    text-decoration: underline;
}

.confirm-delete-cancel-button:hover {
    background-color: rgb(249, 249, 249);
}
