.manage-spots-header {
    margin: 0px 80px;
    padding: 20px 0px ;
    font-weight: 400;
    text-align: left;
    border-bottom: 1px solid lightgray;
}

.manage-spots-title {
    font-size: 1.2em;
    font-weight: 500;

}
.manage-spot-create-button{
    border-radius: 12px;
    border: none;
    box-shadow: 0px 1px 1px 0px gray;
}
.manage-spot-create-button:hover{
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}

/* .manage-spot-create-button .create-new-spot-button {
    color: white !important;
} */


.update-delete-buttons-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin: 5px 0;
}

/* //update button */
.manage-spot-update-button {
    text-decoration: none;
    color: black;
    border-radius: 15px;
    box-shadow: 0px 1px 1px 0px gray;
    padding: 4px;
    /* background-color: rgb(101,177,221); */
    font-size:0.8em;
}

/* delete button */
.update-delete-buttons-container button {
    border: 0;
    border-radius: 15px;
    box-shadow: 0px 1px 1px 0px gray;
    position: relative;
    z-index: 1;
    /* background-color: rgb(101,177,221); */
    font-size:0.8em;
    padding: 4px;

}




.loading-container{
    min-width: 90vw;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-icon {
    width: 70px;
    height: 70px;
    animation: rotate 1s linear infinite
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
