*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: auto;
    line-height: 1.2;

    accent-color: #0a1f26;
    font-family:  "system-ui", Segoe UI, Roboto, "Helvetica Neue", sans-serif;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}
