.hidden {
    display: none
}

.navigation-container{
    border-bottom: 1px solid lightgray;
    width: 100vw;
    position: sticky;
    z-index: 100;
    background-color: white;
    padding: 10px 0;
}


.navigation-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 8px 80px;

}

.logos-container {
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
    left: -38px;
}

.navigation-logo {
    width: 35px;
    height: 35px;
    color: #0a1f26;
    display: flex;
    align-items: center;
}

.navigation-brand {
    padding-left: 5px;
    height: 20px;
    color: #0a1f26;
    display: flex;
    align-items: center;
}


/* USER MENU RIGHT CONTAINER */

.user-menu-container {
    display: flex;
    gap: 20px;
}


/* USER PROFILE RIGHT BOTTOM */

.navigation-user-button {
    font-size: xx-large;
    color: rgb(142, 139, 139);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding: 5px;
    width: 100px;
    border-radius: 30px;
    border: 1px solid lightgray;
    transition: all 100ms ease-in-out;
}


.navigation-user-button:hover {
    box-shadow: 0px 3px 8px lightgray;
    cursor:pointer;
}

.profile-dropdown {
    position: fixed;
    z-index: 3;
    right: 72px;
    top: 68px;
    display: flex;
    flex-direction: column;
    background-color:white;
    box-shadow: 0px 1px 8px lightgray;
    border-radius: 10px;
    padding: 0px 0px;
    width: 180px;
    font-size: small;
    overflow: hidden;
}

.profile-dropdown button {
    border: none !important;
    background: none;
    color: inherit;
    transition: all 100ms ease-in-out;
    width: 100%;
    text-align: left;
    padding: 0px 0;
}

.profile-dropdown button:hover {
    color: black;
    cursor: pointer;
}
.profile-dropdown .dropdown-text {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 15px ;
    font-weight: 500;
}

/* dropdown: user NOT loggedin */
.profile-dropdown .profile-dropdown-login-logout {
    min-width: 100%!important;
    padding: 15px 15px;
    border-top: 1px solid rgb(235,235,235);
    font-weight: 250;
    position: relative;
    min-height: 50%;
 }

/* dropdown: user loggedin */
.profile-dropdown .profile-dropdown-session-actions {
   min-width: 100%!important;
   padding: 15px;
   border-top: 1px solid rgb(235,235,235);
   font-weight: 250;
   position: relative;
   /* top: 4px; */
}


.profile-dropdown a {
    text-decoration: none;
    color: black;
 }

.profile-dropdown li:hover {
    background-color: rgba(240, 240, 240, 0.786);
    cursor: pointer
}
