.login-form-container {
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    width: 300px;
    padding: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    background-color: white;
    color: #ffffff;
}

.login-form-input-container {
    margin-bottom: 15px;
}

.login-form input,
.login-form button {
    margin: 10px 0;
    width: 80%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    z-index: 200;
}

.login-form button {
    background-color: #064D95;
    color: white;
    border: none;
    cursor: pointer;
    margin: 14px;
}

.login-form button:hover {
    background-color: #0056b3;
}

.error-div, .error-p{
    color:  #950606;
    font-size: 12px;
    font-weight: 100;
    bottom: 10px;
    text-align: left;
    margin-left: 30px;
    padding: 0px;
    margin: -9px 30px;
}


.demo-user-login-text {
    color: black;
}

.demo-user-login-text:hover{
   text-decoration: underline;
   cursor:pointer;
}
